<!DOCTYPE HTML>
<html>
	<head>
		<title>Online Test System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>Online Test System</strong></a>
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>{{req.user.name}}</h1>
									</header>
                                    {{#if req.user.photo}}
                                        <img src="uploads/{{req.user.photo}}">
                                    {{else}}
                                        <h2>Please upload profile picture to continue</h2>
                                        <h4>File type needs to be png,jpg or jpeg</h4>
                                        <form action="uploadProfile" method="POST" enctype="multipart/form-data">
                                            <input type="file" name="pic">
                                            <input type="submit" value="upload">
                                        </form>
                                    {{/if}}
                                    <h3>Email</h3>
                                    <p>{{req.user.email}}</p>
                                    <h3>Date of Birth</h3>
                                    <p>{{req.user.dob}}</p>
                                    <h3>Password</h3>
                                    <p>{{req.user.password}}</p>
								</section>
						</div>
					</div>
				<!-- Sidebar -->
					<div id="sidebar">
							<div class="inner">
								<!-- Menu -->
									<nav id="menu">
										<header class="major">
											<h2>Menu</h2>
										</header>
										<ul>
											<li><a href="/profile">Profile</a></li>
											<li><a href="/tests">Give a Test</a></li>
											<li><a href="/createtest">Create New Test</a></li>
											<li><a href="/managetest">Manage Created Test</a></li>
											<li><a href="/logout">Logout</a></li>
										</ul>
									</nav>
							</div>
						</div>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>